body {
    background-color: #e0ecd4;
    font-family: Arial, sans-serif;
}
.title {
    text-align: center;
    font-size: 2em;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
}

.container {
    width: 80%;
    height: 80%;
    top:10%;
    left:10%;
    margin: 20px auto;
    border: 2px solid black;
    position: fixed;
    
}

.leftside {
    position: absolute;
    width:85%;
    height:100%;
    
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
}
.text-area {
    width: 100%;
    height: 85%;
    background-color: #6ec8f1;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    
}
.teacher-image {
    width: 20%;
    height: 85%;
    background-color: #8bc789;
    margin-right: 20px;
}

.text-content {
    flex-grow: 1;
    position: relative;
}

.book-icon {
    position: absolute;
    bottom: 5vw;
    right: 5vw;
}

.agents {
    position: absolute;
    margin: 1vw;
    display: grid;
    height:85%;
    grid-auto-rows: min-content;
    
}

.img-section {
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.img-circle {
    background-color: #f39938;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    color: white;
    margin-right: 1vw;
}

.img-text {
    background-color: #a8e4e5;
    font-size: 1vw;
    padding: 1vw;
    border-radius: 1vw;
}

.user-input {
    width: 100%;
    height:13%;
    top:85%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    position: absolute;
}

.user-text-area {
    flex-grow: 5;
    height: 94%;
    border: 1px solid #ccc;
    border-radius: 1vw;
    margin: 0.2vw;
}

.enter-btn {
    flex-grow: 1;
    background-color: #74ba72;
    padding: 1vw 1vw;
    border: none;
    border-radius: 1vw;
    font-size: 2vw;
    cursor: pointer;
    height: 100%;
}

.notes-section {
    position: absolute;
    top:85%;
    width: 100%;
    height: 15%;
    border: 1px solid black;
}

.notes-btn {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 1vw;
    padding: 1vw;
    cursor: pointer;
    text-align: center;
    font-size: 1vw;
    width: 100%;
    height: 100%;
}